@import "base.css";
header{
    width: 100%;
    height: 0.88rem;
    font-size: 0.38rem;
    line-height: 0.88rem;
    box-sizing: border-box;
    color: #4ebbfe;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0.03rem 0.43rem 0 rgba(41,167,155,0.13);
    margin-bottom: 1.14rem;
}
header > .iconfont {
    color: #4ebbfe;
}
.list{
    width: 100%;
    height: auto;
    padding: 0.22rem;
    box-sizing: border-box;
    overflow: hidden;
}
.xml{
    width: 100%;
    height: 1.74rem;
    margin-bottom: 0.58rem;
    padding-left: 0.78rem;
    display: flex;
    box-sizing: border-box;
    position: relative;
}
.xml .choi{
    width: 0.24rem;
    height: 0.24rem;
    background: #e7f6ff;
    border-radius: 50%;
    position: absolute;
    left: 0.15rem;
    top: 0.69rem;
}
.xml > .choi.hot{
    background: #31d69a;
}
.xml> .left{
    width: 1.74rem;
    height: 100%;
    background-color: #ffffff;
    box-shadow: 0 0.01rem 0.21rem 0 rgba(223, 223, 223, 0.43);
    border-radius: 10px;
}
.left > a{
    width: 100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left >a > img{
    width: 1.19rem;
    height: 1.25rem;

}
.xml .right{
    height: 1.74rem;
    width: 2rem;
    flex-grow: 1;
    padding-left:0.26rem;
    box-sizing: border-box;
}
.right .title{
    overflow: hidden;
}
.right h1{
    float: left;
    font-size: 0.3rem;
    color: #000000;
    opacity: 0.6;
}
.right span{
    float: right;
    font-size: 0.26rem;
    color: #36a8fe;
}
.right>span>i::before{
    padding-top:0.1rem;
}
.xml .price{
    font-size: 0.26rem;
    color: #8e9397;
    opacity: 0.8;
    padding-top: 0.28rem;
}
.bottom{
    width: 100%;
    height: 1.08rem;
    position:fixed;
    bottom: 0;
    background-color: #f1faff;
}
.bottom .bottoml{
    float: left;
    height: 100%;
    width:3rem;
    background-color: #f1faff;
    box-sizing: border-box;
}
.bottom .bottoml >p{
    font-size: 0.24rem;
    padding-left: 0.48rem;
    color: #3bacfe;
    opacity: 0.6;
}
.bottom .bottoml>p::before{
    content: '';
    width: 0.06rem;
    height: 0.06rem;
    border-radius: 50%;
    background: #4a9dd7;
    position: absolute;
    top:0.3rem;
    left:0.22rem;
}
.bottom .bottoml::before{
    content: '';
    width: 0.06rem;
    height: 0.06rem;
    border-radius: 50%;
    background: #36d681;
    position: absolute;
    top:0.7rem;
    left:0.22rem;
}
.bottoml >p >b{
    font-size: 0.36rem;
    color: #36a8fe;
}
.bottoml >span{
    font-size: 0.2rem;
    padding-left: 0.48rem;
    color: #3bacfe;
    opacity: 0.6;
}
.bottomr{
    float: right;
    position: relative;
}
.bottomr >p{
    width: 3.8rem;
    height: 0.6rem;
    background-image: linear-gradient(#37e06f 0%, #31d69a 100%);
    font-size: 0.24rem;
    color: #ffffff;
    line-height: 0.6rem;
    text-align: center;
    position: absolute;
    top: 0.26rem;
    right: 0.24rem;
    box-shadow: 0 0.04rem 0.2rem 0 rgba(55, 223, 116, 0.75);
    border-radius: 30px;
}