@import "base.css";
html {
    font-size: 100px; }

body {
    font-size: 16px;
}

@media screen and (min-width: 320px) {
    html {
        font-size: 42.66667px; } }

@media screen and (min-width: 360px) {
    html {
        font-size: 48px; } }
@media screen and (min-width: 375px) {
    html {
        font-size: 50px; } }

@media screen and (min-width: 412px) {
    html {
        font-size: 54.93333px; } }

@media screen and (min-width: 414px) {
    html {
        font-size: 55.2px; } }
header h1{
    height: 0.88rem;
    text-align: center;
    line-height: 0.88rem;
    font-size: 0.38rem;
    color: #4ebbfe;
    box-shadow: 0 0.03rem 0.43rem 0 rgba(41,167,155,0.13);
}
/*header*/
.search{
    padding: 0.17rem 0.22rem;
    height: 0.6rem;
}
.search span{
    line-height: 0.6rem;
    color: #4ebbfe;
}
.search a{
    display: block;
    height: 0.6rem;
    width: 5.93rem;
    height-line:0.6rem;
    color: #333333;
    border: 0.01rem solid #4ebbfe;
    border-radius: 0.3rem;
    float: right;
    opacity: 0.3;
}
/*search*/
.banner{
    width: 100%;
    height: 3rem;
    /*background: #161665;*/
}
.category{
    height: 6.9rem;
    padding: 0.22rem;
    /*background: #35947a;*/
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
}
.category li{
    height: 1.94rem;
    width: 2.35rem;
    /*background: #f684ff;*/
    display: flex;
    flex-direction: column;
    align-items: center;
}
.category li a{
    width: 1.13rem;
    height: 1.13rem;

}
.category > li > a >img{
    width: 1.13rem;
    height: 1.13rem;
}
.category > li > p{
    font-size: 0.24rem;
    line-height: 0.4rem;
    color: #8e9397;
    margin-top: 0.28rem;
}
.bottom{
    height: 1.18rem;
    width: 100%;
    padding: 0.22rem 0.22rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    box-sizing: border-box;
}
.bottom a{
    height:100%;
    width: 0.7rem;
    padding-top: 0.1rem;
    font-size: 0.24rem;
    color: #59c3fe;;
    box-sizing: border-box;
    opacity: 0.5;
}
.bottom >a.hot{
    opacity: 1;
}
.bottom >a>img{
    width: 0.5rem;
    height: 0.5rem;
}