@import "base.css";
/*头部*/
header{
    height: 0.88rem;
    width: 100%;
    background-color: #fbfeff;
    box-shadow: 0 0.03rem 0.43rem 0
    rgba(41, 167, 255, 0.13);
}
header ul {
    display:flex;
    justify-content: space-between;
    padding: 0 0.22rem;
}
header ul li {
    height: 0.88rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

header ul li p{
    font-size: 0.38rem;
    color: #4ebbfe;
    display: block;
}
header li a .iconfont{
    font-size: 0.38rem;
    color: #4ebbfe;
}
/*  mid*/
.mid {
    padding: 0.22rem ;
    box-sizing: border-box;

}
.mid p{
    height: 1.63rem;
    line-height: 1.63rem;
    text-align: center;
    position: relative;
    border-bottom: 0.02rem rgba(0,0,0,0.05) solid;
}
.mid p:before{
    width: 0.1rem;
    height: 0.05rem;
    content: '';
    background-color: #44b5ff;
    box-shadow: 0 0.02rem 0.05rem 0
    rgba(68, 181, 255, 0.43);
    border-radius: 0.03rem;
    position: absolute;
    left: 1.7rem;
    top: 0.84rem;
}
.mid p:after{
    width: 0.1rem;
    height: 0.05rem;
    content: '';
    background-color: #44b5ff;
    box-shadow: 0 0.02rem 0.05rem 0
    rgba(68, 181, 255, 0.43);
    border-radius: 0.03rem;
    position: absolute;
    left: 5.3rem;
    top: 0.84rem;
}
.mid img{
    margin: 0.2rem  auto  0.1rem;
    width: 1rem;
    height: 1.2rem;
}
.content{
    padding: 0.2rem 0.5rem;
}
ul.content li{
    font-size: 0.26rem;
    line-height: 0.4rem;
    letter-spacing: 0.01rem;
    color: #000000;
    opacity: 0.5;
    font-weight: bold;
    font-stretch: normal;
    padding: 0.2rem 0;
}
.content li:last-child{
    border-bottom: 0.02rem rgba(0,0,0,0.05) solid;
}
/* 底下*/

.bottom p{
    font-size: 0.28rem;
    font-weight: bold;
    font-stretch: normal;
    line-height: 0.4rem;
    letter-spacing: 0.02rem;
    color: #000000;
    opacity: 0.5;
    display: flex;
    justify-content: space-between;
    padding: 0 0.79rem 0 0.5rem;
    position: relative;
    margin-bottom: 0.5rem;
}
.bottom p:before{
    content: '';
    width: 0.1rem;
    height: 0.05rem;
    background-color: #44b5ff;
    box-shadow: 0 0.02rem 0.05rem 0
    rgba(68, 181, 255, 0.43);
    border-radius: 0.03rem;
    position: absolute;
    left: 0.3rem;
    top: 0.2rem;
}
.bottom p>span{
    font-size: 0.28rem;
    font-weight:bold;
    font-stretch: normal;
    line-height: 0.4rem;
    letter-spacing: 0.02rem;
    color: #4ebbfe;
}