@import "base.css";
header{
    height: 0.88rem;
    width: 100%;
    background-color: #fbfeff;
    box-shadow: 0 0.03rem 0.43rem 0
    rgba(41, 167, 255, 0.13);
}
header ul {
    display:flex;
    justify-content: space-between;
    padding: 0 0.22rem;
}
header ul li {
    height: 0.88rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

header ul li p{
    font-size: 0.38rem;
    color: #4ebbfe;
    display: block;
}
header li a .iconfont{
    font-size: 0.38rem;
    color: #4ebbfe;
}
/*一行样式*/
.content{
    padding: 0.32rem  0.32rem 0 ;
}

.content h1{
    font-size: 0.28rem;
    line-height: 0.4rem;
    letter-spacing: 0.02rem;
    color: #000000;
    opacity: 0.5;
    padding-left: 0.2rem;
    padding-bottom: 0.1rem;
    position: relative;
    border-bottom: 0.02rem rgba(0,0,0,0.05) solid;
}
.content h1:before{
    width: 0.1rem;
    height: 0.05rem;
    content: '';
    background-color: #44b5ff;
    box-shadow: 0 0.02rem 0.05rem 0
    rgba(68, 181, 255, 0.43);
    border-radius: 0.03rem;
    position: absolute;
    left: 0;
    top: 0.2rem;
}