@import "base.css";
@import "shoppingcart.css";
@import "index.css";
.mingpian{
    margin: 0.32rem 0.56rem 0.50rem 0.53rem;
    padding: 0.34rem 0.29rem;
    background-color: #ffffff;
    box-shadow: 0 0.01rem 0.25rem 0
    rgba(227, 227, 227, 0.75);
}
.mingpian .touxiang{
    display: block;
    height: 1rem;
    width: 1rem;
    float: left;
    border-radius: 50%;
    overflow: hidden;
}
.mingpian a img{
    width: 100%;
    height: 100%;
    /*border-radius: 50%;*/
}
.mingpian .username{
    font-size: 0.3rem;
    color: #000000;
    opacity: 0.7;
}
.mingpian .username a{
    /*display: block;*/
}
.mingpian p span{
    /*display: block;*/
    float: right;
    font-size: 0.2rem;
    /*color: #3bacfe;*/
    margin-top: 0.05rem;
}
/*.mingpian p span a{*/
/*    display: block;*/
/*    float: right;*/
/*    font-size: 0.2rem;*/
/*    color: #3bacfe;*/
/*    margin-top: 0.05rem;*/
/*}*/
.mingpian .vip{
    margin-top: 0.22rem;
    font-size: 0.22rem;
    color: #000000;
    opacity: 0.4;
}
/*.mingpian .vip a{*/
/*    display: block;*/
/*    width: 0.28rem;*/
/*    height: 0.2rem;*/
/*}*/
.mingpian img{
    width: 100%;
    height: 100%;
}
.changyong{
    padding: 0.2rem;
    margin: 0.5rem 0.56rem 0.50rem 0.53rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.changyong span{
    display: block;
    background: #4ebbfe;
    border-radius: 0.1rem;
    font-size: 0.3rem;
}
.caozuo{
    margin: 0.50rem 0.50rem 0.7rem 0.78rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.caozuo ul{
    /*padding: 0.33rem 0 0 0;*/
}
.caozuo ul li{
    padding: 0.33rem 0 0.35rem 0;
    border-bottom: 0.02rem dashed rgba(0,0,0,0.2);
    position: relative;
}
.caozuo ul li p{
    font-size: 0.28rem;
    rgba(0,0,0,0.7)
}
.caozuo ul li p:before{
    content: "";
    width: 0.1rem;
    height: 0.1rem;
    border-radius: 50%;
    background: rgba(68, 181, 255, 0.8);
    position: absolute;
    left: -0.25rem;
    top: 0.5rem;
}


