header{
    height: 0.88rem;
    width: 100%;
    padding: 0 0.22rem;
    box-sizing: border-box;
    color: #4ebbfe;
    font-size: 0.38rem;
    display: flex;
    justify-content: space-between;
    line-height: 0.88rem;
    box-shadow: 0 0.03rem 0.43rem 0 rgba(41, 167, 255, 0.13);
    background-color: #fbfeff;
    margin-bottom: 0.1rem;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
}
header .iconfont{
    color: #4ebbfe;
    font-size: 0.4rem;
}
.back-picture{
    height: 3.63rem;
    width: 100%;
    margin-top: 0.9rem;
    position: relative;
}
.back-picture  > .picture{
    position: absolute;
    top: 3.02rem;
    left: 0.24rem;
    width: 1.64rem;
    height: 1.64rem;
    padding: 0 0.07rem 0 0.07rem;
    box-sizing: border-box;
    background-color: #fbfeff;
    box-shadow: 0 0.03rem 0.43rem 0 rgba(41, 167, 255, 0.13);
    border-radius: 0.08rem;
    border: solid 0.04rem #ffffff;
}
.back-picture  > .picture >img{
    width: 1.42rem;
    height: 1.64rem;
}
.price{
    height: 0.36rem;
    font-size: 0.36rem;
    color: #36a8fe;
    margin-top: 0.78rem;
    margin-left: 2.17rem;
}
.info{
    padding: 0 0.22rem;
    color: #3bacfe;
    margin-top: 0.37rem;
}
.info > .norms{
    height: 0.19rem;
    font-size: 0.2rem;
    color: #3bacfe;
    padding-left: 0.2rem;
    position: relative;
    margin-bottom: 0.2rem;
}
.info > .norms::before{
    content: "";
    position: absolute;
    width: 0.06rem;
    height: 0.06rem;
    border-radius: 50%;
    background-color: #44b5ff;
    box-shadow: 0 0.02rem 0.05rem 0 rgba(68, 181, 255, 0.43);
    top:0.1rem;
    left: 0.1rem;
}
.info > .goods{
    width: 2.13rem;
    height: 1.08rem;
    border-radius: 0.08rem;
    background: rgba(231,246,255,0.5);
    color: #3bacfe;
    line-height: 1.08rem;
    font-size: 0.24rem;
    text-align: center;
    margin-bottom: 0.4rem;
}
.info > .number{
    height: 0.19rem;
    font-size: 0.2rem;
    color: #3bacfe;
    padding-left: 0.2rem;
    position: relative;
    margin-bottom: 0.2rem;
}
.info > .number::before{
    content: "";
    position: absolute;
    width: 0.06rem;
    height: 0.06rem;
    border-radius: 50%;
    background-color: #36d681;
    box-shadow: 0 0.02rem 0.05rem 0 rgba(54, 214, 129, 0.43);
    top:0.1rem;
    left: 0.1rem;
}
.info > .tag  :nth-child(1){
    width: 1.18rem;
    height: 0.52rem;
    border-radius: 26px;
    background: rgba(59,172,254,0.1);
    color: #3bacfe;
    text-align: center;
    line-height: 0.52rem;
    display: inline-block;
}
.info > .tag  :nth-child(2){
    font-size: 0.26rem;
}
.info > .tag  :nth-child(3){
    width: 1.18rem;
    height: 0.52rem;
    border-radius: 0.26rem;
    background-color: #3bacfe;
    color: #ffffff;
    text-align: center;
    line-height: 0.52rem;
    display: inline-block;
    box-shadow: 0 0.05rem 0.12rem 0 rgba(59, 172, 254, 0.43);
}
footer{
    width: 100%;
    height: 1.08rem;
    background-color: #f1faff;
    padding:0 0.22rem 0 3rem;
    box-sizing: border-box;
    position: fixed;
    left: 0;
    bottom: 0;
    line-height: 1.08rem;
}
footer :nth-child(1) > span{
    width: 1.96rem;
    height: 0.60rem;
    background-image: linear-gradient(90deg, #37e06f 0%, #31d69a 100%), linear-gradient(#3bacfe,#3bacfe);
    box-shadow: 0 0.04rem 0.20rem 0 rgba(55, 223, 116, 0.75);
    border-radius: 0.30rem;
    color: #FFFFFF;
    text-align: center;
    line-height: 0.6rem;
    font-size: 0.2rem;
    display: inline-block;
    margin-right: 0.25rem;
}
footer :nth-child(2)>span{
    width: 1.96rem;
    height: 0.60rem;
    background-color: #3bacfe;
    box-shadow: 0 0.05rem 0.12rem 0 rgba(59, 172, 254, 0.43);
    border-radius: 0.30rem;
    color: #FFFFFF;
    text-align: center;
    line-height: 0.6rem;
    font-size: 0.2rem;
    display: inline-block;
}