@import "base.css";
header{
    height: 0.88rem;
    background: white;
    padding: 0 0.22rem;
    text-align: center;
    line-height: 0.88rem;
    font-size: 0.38rem;
    color: #4ebbfe;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
header .iconfont{
    color: #36a8fe;
}
.space{
    position: absolute;
    left: 0;
    top: 0.88rem;
    right: 0;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    background: #f7f7f7;
}
.space a{
    display: block;
    height: 2.6rem;
    width: 2.8rem;
    margin-top: 3.57rem;
    margin-left: 2.62rem;
    margin-right: 2.08rem;
    background: #f7f7f7;
}
.space span{
    display: block;
    margin-top: 0.5rem;
    margin-left: 2.53rem;
    margin-right: 2.53rem;
    color: #000000;
    opacity: 0.4;
    font-size: 0.26rem;
}
.space .update{
    display: block;
    width: 1.96rem;
    height: 0.6rem;
    background-image: linear-gradient(90deg,
    #37e06f 0%,
    #31d69a 100%),
    linear-gradient(
            #3bacfe,
            #3bacfe);
    box-shadow: 0 0.04rem 0.2rem
    rgba(55, 223, 116, 0.75);
    margin-top: 0.52rem;
    margin-left: 2.74rem;
    margin-right: 2.74rem;
    font-size: 0.2rem;
    line-height: 0.6rem;
    text-align: center;
    border-radius: 0.3rem;
    color: #ffffff;
}

