@import "base.css";
.header{
    width: 100%;
    height: 0.88rem;
    box-sizing: border-box;
    padding: 0 0.22rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 0.88rem;
    background: #fbfeff;
    box-shadow: 0 0.03rem 0.43rem 0 rgba(41, 167, 255, 0.13);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
}
.header   a{
    width: 0.25rem;
    height: 0.42rem;
}
.header a.iconfont{
    font-size: 0.38rem;
    color: #4ebbfe;
    font-weight: bold;
}
.header header{
    height: 0.88rem;
    text-align: center;
    font-size: 0.38rem;
    color: #4ebbfe;
    font-weight: bold;
    letter-spacing: 0.02rem;
}

.main{
    margin-top: 0.88rem;
    padding: 0.22rem;
}
.main >p{
    text-align: center;
    padding: 0.2rem 0;
    margin-top: 0.2rem;
    font-size: 0.3rem;
    line-height: 0.4rem;
    letter-spacing: 0.01rem;
    color: #4f5b64;
    border-bottom: 0.01rem solid rgba(0,0,0,0.1);
}
.main .time{
    width: 100%;
    text-align: center;
    line-height: 0.4rem;
    padding: 0.2rem;
}
.main .time p{
    display: inline-block;
    padding: 0 0.2rem;
    font-size: 0.27rem;
    line-height: 0.4rem;
    letter-spacing: 0.016rem;
    color: #4f5b64;
    position: relative;
}
.main .time p b{
    color: #ff6666;
    font-size: 0.4rem;
    line-height: 0.4rem;
    letter-spacing: 0.01rem;
}
.main .time p::before{
    content: "";
    width: 0.1rem;
    height: 0.06rem;
    background-color: #ff6666;
    box-shadow: 0 0.02rem 0.05rem 0 rgba(255, 102, 102, 0.43);
    border-radius: 0.02rem;
    position: absolute;
    left: 0;
    top: 0.2rem;
}
.main .time p::after{
    content: "";
    width: 0.1rem;
    height: 0.06rem;
    background-color: #ff6666;
    box-shadow: 0 0.02rem 0.05rem 0 rgba(255, 102, 102, 0.43);
    border-radius: 0.02rem;
    position: absolute;
    right: 0;
    top: 0.2rem;
}
.main .introduce{
    margin-top: 0.5rem;
}
.main .introduce p{
    font-size: 0.26rem;
    line-height: 0.4rem;
    letter-spacing: 0.01rem;
    color: #000000;
    opacity: 0.5;
    margin-top: 0.3rem;
}
.main .butt{
    margin-top: 0.3rem;
    margin-bottom: 0.5rem;
    width: 100%;
    height: 0.6rem;
    display: flex;
    justify-content: flex-end;
}
.main .butt a.blue-deep{
    display: inline-block;
    padding: 0.18rem 0.62rem;
    line-height: 0.24rem;
    font-size: 0.24rem;
    letter-spacing: 0.01rem;
    color: #ffffff;
    background-color: #3bacfe;
    box-shadow: 0 0.05rem 0.12rem 0 rgba(59, 172, 254, 0.43);
    border-radius: 0.3rem;
    margin-left: 0.24rem;
}
.main .butt a.blue{
    display: inline-block;
    padding: 0.18rem 0.62rem;
    font-size: 0.24rem;
    line-height: 0.24rem;
    letter-spacing: 0.01rem;
    color: #3bacfe;
    background-color: rgba(59,172,254,0.1);
    border-radius: 0.3rem;
}
.main .draw-info{
    padding: 0.2rem 0;
    width: 100%;
    box-sizing: border-box;
    border-top: 0.02rem solid rgba(0,0,0,0.1);
}
.main .draw-info >h3{
    float: left;
    display: inline-block;
    padding-left: 0.2rem;
    font-size: 0.3rem;
    line-height: 0.4rem;
    letter-spacing: 0.016rem;
    color: #31d094;
    position: relative;
    margin-bottom: 0.2rem;
}
.main .draw-info >h3::before{
    content: "";
    width: 0.1rem;
    height: 0.05rem;
    background-color: #36dd7c;
    box-shadow: 0 0.02rem 0.05rem 0 rgba(54, 221, 124, 0.43);
    border-radius: 0.02rem;
    position: absolute;
    left: 0;
    top: 0.2rem;
}
.main .draw-info > h3 >span{
    color: #474747;
}
.goods{
    width: 100%;
}
.goods >a{
    width: 100%;
    display: flex;
    margin-bottom: 0.1rem;
}
.goods a .image{
    width: 1.74rem;
    height: 1.74rem;
    background-color: #ffffff;
    box-shadow: 0 0.01rem 0.21rem 0 rgba(223, 223, 223, 0.43);
    border-radius: 0.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.goods a .image img{
    width: 1.19rem;
    height: 1.25rem;
}
.goods a .info{
    flex-grow: 1;
    padding-left: 0.27rem;
}
.goods a .info h2{
    height: 0.3rem;
    line-height: 0.3rem;
    font-size: 0.3rem;
    letter-spacing: 0.012rem;
    color: #000000;
    opacity: 0.6;
    overflow: hidden;
    margin-bottom: 0.1rem;
}
.goods a .info h2 >span{
    font-size: 0.26rem;
    color: #43c93e;
    float: right;
}
.goods a .info >b{
    display: block;
    height: 0.3rem;
    padding-left: 0.2rem;
    font-size: 0.26rem;
    color: #36a8fe;
    position: relative;
    margin-bottom: 0.1rem;
}
.goods a .info >b::before{
    content: "";
    width: 0.05rem;
    height: 0.05rem;
    background-color: #44b5ff;
    box-shadow: 0 0.02rem 0.05rem 0 rgba(68, 181, 255, 0.43);
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0.12rem;
}
.goods a .info >span{
    display: block;
    height: 0.3rem;
    font-size: 0.22rem;
    letter-spacing: 0.009rem;
    color: rgba(0,0,0,0.3);
    padding-left: 0.2rem;
    position: relative;
    margin-bottom: 0.1rem;
}
.goods a .info >span b{
    height: 0.3rem;
    line-height: 0.3rem;
    font-size: 0.26rem;
    letter-spacing: 0;
    color: #36a8fe;
}

.goods a .info >span::before{
    content: "";
    width: 0.05rem;
    height: 0.05rem;
    background-color: #44b5ff;
    box-shadow: 0 0.02rem 0.05rem 0 rgba(68, 181, 255, 0.43);
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0.12rem;
}
.goods .info p{
    margin-top: 0.4rem;
    width: 100%;
    height: 0.3rem;
    display: flex;
    justify-content: space-between;
}
.goods .info p >span{
    display: inline-block;
    padding-left: 0.2rem;
    height: 0.3rem;
    line-height: 0.3rem;
    font-size: 0.22rem;
    letter-spacing: 0.009rem;
    color: rgba(0,0,0,0.3);
    position: relative;
    margin-bottom: 0.1rem;
}
.goods .info p >span::before{
    content: "";
    width: 0.05rem;
    height: 0.05rem;
    background-color: #44b5ff;
    box-shadow: 0 0.02rem 0.05rem 0 rgba(68, 181, 255, 0.43);
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0.12rem;
}
.goods .info p i{
    font-style: normal;
    display: inline-block;
    line-height: 0.3rem;
    font-size: 0.24rem;
    letter-spacing: 0.01rem;
    color: #8a8c8d;
    padding-left: 0.2rem;
    position: relative;
}
.goods .info p i::before{
    content: "";
    width: 0.05rem;
    height: 0.05rem;
    background-color: #36d681;
    box-shadow: 0 0.02rem 0.05rem 0 rgba(54, 214, 129, 0.43);
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0.12rem;
}

.goods >span{
    display: block;
    height: 0.24rem;
    font-size: 0.24rem;
    letter-spacing: 0.01rem;
    color: #fbb548;
    padding-left: 0.2rem;
    float: right;
    position: relative;
    margin-bottom: 0.2rem;
}
.goods >span::before{
    content: "";
    width: 0.05rem;
    height: 0.05rem;
    background-color: #36d681;
    box-shadow: 0 0.02rem 0.05rem 0 rgba(54, 214, 129, 0.43);
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0.12rem;
}
footer{
    width: 100%;
    height: 1.06rem;
    background-color: #f1faff;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer a{
    display: inline-block;
    padding: 0.2rem 1.88rem;
    font-size: 0.2rem;
    letter-spacing: 0.01rem;
    color: #ffffff;
    background-image: linear-gradient(90deg, #37e06f 0%, #31d69a 100%), linear-gradient(#3bacfe, #3bacfe);
    box-shadow: 0 0.04rem 0.2rem 0 rgba(55, 223, 116, 0.75);
    border-radius: 0.3rem;
}