@import "base.css";
.header{
    width: 100%;
    height: 0.88rem;
    box-sizing: border-box;
    padding: 0 0.22rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 0.88rem;
    background: #fbfeff;
    box-shadow: 0 0.03rem 0.43rem 0 rgba(41, 167, 255, 0.13);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
}
.header   a{
    width: 0.25rem;
    height: 0.42rem;
}
.header a.iconfont{
    font-size: 0.38rem;
    color: #4ebbfe;
    font-weight: bold;
}
.header header{
    height: 0.88rem;
    text-align: center;
    font-size: 0.38rem;
    color: #4ebbfe;
    font-weight: bold;
    letter-spacing: 0.02rem;
}

.nav{
    height: 0.79rem;
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    left: 0;
    top: 0.88rem;
    padding: 0 0.22rem;
    border-bottom: 0.01rem solid #a2deff;
    display: flex;
    align-items: center;
    background-color: #fbfeff;
    z-index: 99;

}
.nav li{
    display: inline-block;
    flex-grow: 1;
    height: 100%;
    text-align: center;

}
.nav li a{
    width: 100%;
    height: 100%;
    display: inline-block;
    font-size: 0.24rem;
    line-height: 0.4rem;
    letter-spacing: 0.01rem;
    color: #8a8c8d;
    opacity: 0.4;
    padding-top: 0.18rem;
    box-sizing: border-box;
}
/*.nav li a.hot::before{
    content: "";
    width: 100%;
    height: 0.04rem;
    background: #36a8fe;
    position: absolute;
    left: 0;
    bottom: 0.01rem;
    transition: all 0.5s;
}*/
.nav div{
    width: 1.05rem;
    height: 0.04rem;
    background: #36a8fe;
    position: absolute;
    left: 0.22rem;
    bottom: 0.01rem;
    transition: all 0.5s;
}

.nav li.hot:nth-child(1)~.checked{
    transform: translate(0,0);
}
.nav li.hot:nth-child(2)~.checked{
    transform: translate(105%,0);
}
.nav li.hot:nth-child(3)~.checked{
    transform: translate(225%,0);
}
.nav li.hot:nth-child(4)~.checked{
    transform: translate(345%,0);
}
.nav li.hot:nth-child(5)~.checked{
    transform: translate(465%,0);
}
.nav li.hot:nth-child(6)~.checked{
    transform: translate(580%,0);
}

.list{
    width: 100%;
    margin-top: 1.7rem;
    margin-bottom: 0.98rem;
    padding: 0.22rem;
    box-sizing: border-box;
}
.list li {
    width: 100%;
    height: auto;
    margin: 0.2rem 0 0.5rem;
    box-sizing: border-box;
}
.list li >a{
    width: 100%;
    display: flex;
    margin-bottom: 0.1rem;
}
.list li a .image{
    width: 1.74rem;
    height: 1.74rem;
    background-color: #ffffff;
    box-shadow: 0 0.01rem 0.21rem 0 rgba(223, 223, 223, 0.43);
    border-radius: 0.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.list li a .image img{
    width: 1.19rem;
    height: 1.25rem;
}
.list li a .info{
    flex-grow: 1;
    padding-left: 0.27rem;
    box-sizing: border-box;
}
.list li a .info h2{
    height: 0.3rem;
    line-height: 0.3rem;
    font-size: 0.3rem;
    letter-spacing: 0.012rem;
    color: #000000;
    opacity: 0.6;
    overflow: hidden;
    margin-bottom: 0.1rem;
}
.list li a .info h2 >span{
    font-size: 0.26rem;
    color: #43c93e;
    float: right;
}
.list li a .info >b{
    display: block;
    height: 0.3rem;
    padding-left: 0.2rem;
    font-size: 0.26rem;
    color: #36a8fe;
    position: relative;
    margin-bottom: 0.1rem;
}
.list li a .info >b::before{
    content: "";
    width: 0.05rem;
    height: 0.05rem;
    background-color: #44b5ff;
    box-shadow: 0 0.02rem 0.05rem 0 rgba(68, 181, 255, 0.43);
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0.12rem;
}
.list li a .info >span{
    display: block;
    height: 0.3rem;
    font-size: 0.22rem;
    letter-spacing: 0.009rem;
    color: rgba(0,0,0,0.3);
    padding-left: 0.2rem;
    position: relative;
    margin-bottom: 0.1rem;
}
.list li a .info >span b{
    height: 0.3rem;
    line-height: 0.3rem;
    font-size: 0.26rem;
    letter-spacing: 0;
    color: #36a8fe;
}

.list li a .info >span::before{
    content: "";
    width: 0.05rem;
    height: 0.05rem;
    background-color: #44b5ff;
    box-shadow: 0 0.02rem 0.05rem 0 rgba(68, 181, 255, 0.43);
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0.12rem;
}
.list .info p{
    margin-top: 0.4rem;
    width: 100%;
    height: 0.3rem;
    display: flex;
    justify-content: space-between;
}
.list .info p >span{
    display: inline-block;
    padding-left: 0.2rem;
    height: 0.3rem;
    line-height: 0.3rem;
    font-size: 0.22rem;
    letter-spacing: 0.009rem;
    color: rgba(0,0,0,0.3);
    position: relative;
    margin-bottom: 0.1rem;
}
.list .info p >span::before{
    content: "";
    width: 0.05rem;
    height: 0.05rem;
    background-color: #44b5ff;
    box-shadow: 0 0.02rem 0.05rem 0 rgba(68, 181, 255, 0.43);
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0.12rem;
}
.list .info p i{
    font-style: normal;
    display: inline-block;
    line-height: 0.3rem;
    font-size: 0.24rem;
    letter-spacing: 0.01rem;
    color: #8a8c8d;
    padding-left: 0.2rem;
    position: relative;
}
.list .info p i::before{
    content: "";
    width: 0.05rem;
    height: 0.05rem;
    background-color: #36d681;
    box-shadow: 0 0.02rem 0.05rem 0 rgba(54, 214, 129, 0.43);
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0.12rem;
}

.list li >span{
    display: block;
    height: 0.24rem;
    font-size: 0.24rem;
    letter-spacing: 0.01rem;
    color: #fbb548;
    padding-left: 0.2rem;
    float: right;
    position: relative;
    margin-bottom: 0.2rem;
}
.list li >span::before{
    content: "";
    width: 0.05rem;
    height: 0.05rem;
    background-color: #36d681;
    box-shadow: 0 0.02rem 0.05rem 0 rgba(54, 214, 129, 0.43);
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0.12rem;
}

.list li >.text{
    width: 100%;
    height: 0.3rem;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0.2rem;
}
.list li .text >span{
    display: block;
    height: 0.24rem;
    font-size: 0.24rem;
    letter-spacing: 0.01rem;
    color: #fbb548;
    padding-left: 0.2rem;
    position: relative;
}
.list li .text >span::before{
    content: "";
    width: 0.05rem;
    height: 0.05rem;
    background-color: #36d681;
    box-shadow: 0 0.02rem 0.05rem 0 rgba(54, 214, 129, 0.43);
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0.12rem;
}
.list li .text >i{
    height: 0.3rem;
    line-height: 0.3rem;
    font-style: normal;
    font-size: 0.22rem;
    letter-spacing: 0.009rem;
    color: #000000;
    opacity: 0.3;
    text-align: right;
}

.list .butt{
    width: 100%;
    height: 0.6rem;
    display: flex;
    justify-content: flex-end;
}
.list .butt a.green{
    display: inline-block;
    padding: 0.18rem 0.62rem;
    line-height: 0.24rem;
    font-size: 0.24rem;
    letter-spacing: 0.01rem;
    color: #ffffff;
    background-image: linear-gradient(90deg, #37e06f 0%, #31d69a 100%), linear-gradient(#3bacfe, #3bacfe);
    box-shadow: 0 0.04rem 0.2rem 0 rgba(55, 223, 116, 0.75);
    border-radius: 0.3rem;
    margin-left: 0.32rem;
}
.list .butt a.blue{
    display: inline-block;
    padding: 0.18rem 0.62rem;
    font-size: 0.24rem;
    line-height: 0.24rem;
    letter-spacing: 0.01rem;
    color: #3bacfe;
    background-color: rgba(59,172,254,0.1);
    border-radius: 0.3rem;
}

footer{
    padding: 0.1rem 0.22rem;
    height: 0.98rem;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    justify-content: space-between;
    display: flex;
    background: #f1f9ff;
    position: fixed;
    left: 0;
    bottom: 0;
}

footer a{
    height: 0.78rem;
    width: 0.6rem;
    text-align: center;
    color: #4ebbfe;
    font-size: 0.24rem;
    opacity: 0.5;
    box-sizing: border-box;

}
footer a img{
    width: 0.45rem;
    height: 0.45rem;
    display: inline-block;
}
footer .hot{
    opacity: 1;
}