@import "base.css";
.header{
    width: 100%;
    box-sizing: border-box;
    height: 0.88rem;
    padding: 0 0.22rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 0.88rem;
    background-color: #fbfeff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}
.header   a{
    width: 0.25rem;
    height: 0.42rem;
}
.header a.iconfont{
    font-size: 0.38rem;
    color: #4ebbfe;
    font-weight: bold;
}
.header header{
    height: 0.88rem;
    text-align: center;
    font-size: 0.38rem;
    color: #4ebbfe;
    font-weight: bold;
    letter-spacing: 0.02rem;
}
.search{
    position: fixed;
    top: 0.88rem;
    left: 0;
    z-index: 9999;
    height: 0.6rem;
    width: 100%;
    padding: 0 0.22rem;
    box-sizing: border-box;
    background: #fbfeff;
}
.search a{
    height: 0.54rem;
    width: 100%;
    padding: 0 0.1rem 0 0.3rem;
    box-sizing: border-box;
    background: #ebf7ff;
    opacity: 0.58;
    border-radius: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 0.03rem solid rgba(72, 139, 255, 0.58);
}
.search span{
    font-size: 0.24rem;
    letter-spacing: 0.01rem;
    color: #c8d9e6;
}
.search .iconfont{
    width: 0.79rem;
    height: 0.44rem;
    background-color: #a4e0bd;
    border-radius: 0.21rem;
    display: inline-block;
    color: #e5f6ec;
    text-align: center;
    font-size: 0.4rem;
}
.nav{
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    top: 1.48rem;
    left: 0;
    z-index: 9999;
    height: 0.96rem;
    padding: 0.22rem 0.25rem;
    display: flex;
    justify-content: center;
    background: #fbfeff;
    box-shadow: 0 0.2rem 0.3rem 0 rgba(41, 167, 255, 0.13);
}
.nav li{
    display: inline-block;
    width: 1.33rem;
    height: 0.52rem;
    background-color: rgba(59,172,254,0.1);
    box-shadow: 0 0.05rem 0.12rem 0 rgba(59, 172, 254, 0.43);
    border-radius: 0.26rem;
    margin: 0 0.12rem;
}
.nav li.hot{
    background-color: #3bacfe;
}
.nav li.hot a{
    color: white;
}
.nav li a{
    display: inline-block;
    width: 1.33rem;
    height: 0.52rem;
    border-radius: 0.26rem;
    font-size: 0.2rem;
    font-weight: normal;
    letter-spacing: 0.008rem;
    color: #3bacfe;
    text-align: center;
    line-height: 0.53rem;
}
.service{
    padding: 0.4rem 0.22rem 0.98rem;
    margin-top: 2.44rem;
}
.service > div{
    line-height: 0.4rem;
    width: 100%;
    overflow: hidden;
}
.service >div >h2{
    display: inline-block;
    font-size: 0.32rem;
    line-height: 0.4rem;
    letter-spacing: 0.019rem;
    color: #41b2fc;
    position: relative;
    padding-left: 0.2rem;
}
.service > div > h2::before{
    content: "";
    width: 0.1rem;
    height: 0.05rem;
    background-color: #44b5ff;
    box-shadow: 0 0.02rem 0.05rem 0 rgba(68, 181, 255, 0.43);
    border-radius: 0.025rem;
    position: absolute;
    top: 0.2rem;
    left: 0;
}
.service >div >h3{
    display: inline-block;
    font-size: 0.32rem;
    line-height: 0.4rem;
    letter-spacing: 0.019rem;
    color: #4f5b64;
}
.service >ul{
    width: 100%;
    margin-top: 0.32rem;
}
.service >ul >li {
    width: 100%;
    height: 1.97rem;
    margin-bottom: 0.32rem;
}
.service >ul >li a{
    display: flex;
    width: 100%;
    height: 1.97rem;
}
.service >ul >li .thum{
    width: 1.97rem;
    height: 1.97rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    box-shadow: 0 0.01rem 0.21rem 0 rgba(223, 223, 223, 0.43);
    border-radius: 0.1rem;
}
.service >ul >li img{
    width: 1.2rem;
    height: 1.33rem;
}
.service >ul >li div.text{
    flex: 1;
    padding-left: 0.28rem;
}
.service >ul >li div.text h2{
    font-size: 0.3rem;
    letter-spacing: 0.012rem;
    color: #000000;
    opacity: 0.6;
    height: 0.4rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.service >ul >li div.text p{
    font-size: 0.22rem;
    letter-spacing: 0.009rem;
    color: #000000;
    opacity: 0.3;
    padding: 0 0 0.15rem;
    border-bottom: 0.01rem solid #d8dfe3;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.service >ul >li >a .achievement{
    width: 100%;
    overflow: hidden;
    padding: 0.1rem 0 0.05rem;
    line-height: 0.4rem;
}
.service >ul >li >a .achievement span{
    font-size: 0.2rem;
    letter-spacing: 0.008rem;
    color: rgba(0,0,0,0.3);
    position: relative;
    padding-left: 0.15rem;
}
.service >ul >li >a .achievement span::before{
    content: "";
    width: 0.05rem;
    height: 0.05rem;
    background-color: #44b5ff;
    box-shadow: 0 0.02rem 0.05rem 0 rgba(68, 181, 255, 0.43);
    border-radius: 0.025rem;
    position: absolute;
    top: 0.1rem;
    left: 0;
}
.service >ul >li >a .achievement span.volume::before{
    background-color: #36d681;
    box-shadow: 0 0.02rem 0.05rem 0 rgba(54, 214, 129, 0.43);
}
.service >ul >li >a .achievement b{
    font-size: 0.24rem;
    color: #36a8fe;
}
.service >ul >li >a .achievement i{
    font-size: 0.24rem;
    font-style: normal;
    color: #b9e1ff;
}
.service >ul >li >a .achievement h4{
    display: inline-block;
    font-size: 0.26rem;
    color: #fbb548;
    float: right;
}
.service >ul >li >a .brand{
    height: 0.4rem;
    width: 100%;
    padding: 0.02rem 0;
    display: flex;
    align-items: center;
}
.service >ul >li >a .brand .trademark{
    display: inline-block;
    width: 0.3rem;
    height: 0.3rem;
    margin-right: 0.1rem;
    padding-bottom: 0.1rem;
}
.service >ul >li >a .brand .trademark img{
    display: inline-block;
    width: 0.3rem;
    height: 0.3rem;
}
.service >ul >li >a .brand span{
    font-size: 0.2rem;
    letter-spacing: 0.008rem;
    color: #cfcfcf;
}

footer{
    padding: 0.1rem 0.22rem;
    height: 0.98rem;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    justify-content: space-between;
    display: flex;
    position: fixed;
    left: 0;
    bottom: 0;
    background: #f1faff;
    z-index: 999999999;
}

footer a{
    height: 0.78rem;
    width: 0.6rem;
    text-align: center;
    color: #4ebbfe;
    font-size: 0.24rem;
    opacity: 0.5;
    box-sizing: border-box;

}
footer a img{
    width: 0.45rem;
    height: 0.45rem;
    display: inline-block;
}
footer .hot{
    opacity: 1;
}